# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# Build and Distribution
build/
dist/
*.spec

# Virtual environment
venv/
env/

# Secrets
.env

# Log files
*.log

# Databases 
# *.db
# *.sqlite3

# OS-specific
.DS_Store
Thumbs.db

# Editor-specific 
# .vscode/
# .idea/

# *.tex
# *.aux
# *.lof
# *.log # 
# *.lol
# *.lot
# *.out
# *.toc
# *.synctex.gz
# *.fls
# *.fdb_latexmk
# _minted*